* {
    margin: 0;
    padding: 0;
    border: 0;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ecf0f1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.center {
    text-align: center;
}

.corpo_menu {
        background-color: #ffffff;
        width: 375px;
        height: 375px;
        position: relative;
        background-image: url(./circulo.png);
        background-size: 100%;
        background-repeat: round;
        margin-top: 150px;
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    border-radius: 50%;
    animation: rotateMenu 12s infinite linear;
}

.item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3498db;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    transform-origin: 0% 0%; 
}

.item:hover {
    background-color: #2eb929;
}


.item:nth-child(1) { transform: rotate(0deg) translateX(150px) rotate(-90deg); }
.item:nth-child(1) .filho-item { 
    background-color: #e74c3c;
    animation: rotateElement1 12s infinite linear;
}

.item:nth-child(2) { transform: rotate(36deg) translateX(150px) rotate(-90deg); }
.item:nth-child(2) .filho-item { 
    background-color: rgb(60, 231, 97);
    animation: rotateElement2 12s infinite linear;
}
.item:nth-child(3) { transform: rotate(72deg) translateX(150px) rotate(-90deg); }
.item:nth-child(3) .filho-item { 
    background-color: #473ce7;
    animation: rotateElement3 12s infinite linear;
}
.item:nth-child(4) { transform: rotate(108deg) translateX(150px) rotate(-90deg); }
.item:nth-child(4) .filho-item { 
    background-color: #3cc5e7;
    animation: rotateElement4 12s infinite linear;
}
.item:nth-child(5) { transform: rotate(144deg) translateX(150px) rotate(-90deg); }
.item:nth-child(5) .filho-item { 
    background-color: #e7cd3c;
    animation: rotateElement5 12s infinite linear;
}
.item:nth-child(6) { transform: rotate(180deg) translateX(150px) rotate(-90deg); }
.item:nth-child(6) .filho-item { 
    background-color: #e73cde;
    animation: rotateElement6 12s infinite linear;
}
.item:nth-child(7) { transform: rotate(216deg) translateX(150px) rotate(-90deg); }
.item:nth-child(7) .filho-item { 
    background-color: #e73c3c;
    animation: rotateElement7 12s infinite linear;
}
.item:nth-child(8) { transform: rotate(252deg) translateX(150px) rotate(-90deg); }
.item:nth-child(8) .filho-item { 
    background-color: #ffffff;
    animation: rotateElement8 12s infinite linear;
}
.item:nth-child(9) { transform: rotate(288deg) translateX(150px) rotate(-90deg); }
.item:nth-child(9) .filho-item { 
    background-color: #000000;
    animation: rotateElement9 12s infinite linear;
}
.item:nth-child(10) { transform: rotate(324deg) translateX(150px) rotate(-90deg); }
.item:nth-child(10) .filho-item { 
    background-color: #e7a33c;
    animation: rotateElement10 12s infinite linear;
}

@keyframes rotateMenu {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



@keyframes rotateElement1 {
    from {
        transform: rotate(450deg);
    }
    to {
        transform: rotate(90deg);
    }
}
@keyframes rotateElement2 {
    from{
        transform: rotate(414deg);
    }
    to{
        transform: rotate(54deg);
    }
}
@keyframes rotateElement3 {
    from{
        transform: rotate(378deg);
    }
    to{
        transform: rotate(18deg);
    }
}
@keyframes rotateElement4 {
    from{
        transform: rotate(342deg);
    }
    to{
        transform: rotate(-18deg);
    }
}
@keyframes rotateElement5 {
    from{
        transform: rotate(306deg);
    }
    to{
        transform: rotate(-54deg);
    }
}
@keyframes rotateElement6 {
    from{
        transform: rotate(270deg);
    }
    to{
        transform: rotate(-90deg);
    }
}
@keyframes rotateElement7 {
    from{
        transform: rotate(234deg);
    }
    to{
        transform: rotate(-126deg);
    }
}
@keyframes rotateElement8 {
    from{
        transform: rotate(198deg);
    }
    to{
        transform: rotate(-162deg);
    }
}
@keyframes rotateElement9 {
    from{
        transform: rotate(162deg);
    }
    to{
        transform: rotate(-198deg);
    }
}
@keyframes rotateElement10 {
    from{
        transform: rotate(126deg);
    }
    to{
        transform: rotate(-234deg);
    }
}

.corpo_menu:hover .item,
.corpo_menu:hover .item .filho-item,
.corpo_menu:hover .menu {
    animation-play-state: paused;
}



